/* GERAL */

body {
    margin: 0;
    font-family: Roboto;
}

h2 {
    font-size: 30px;
}

/* NAV-BAR */     

.navbar {
    background-color: #ED1E24;
    color: #FFF;
    padding: 0 15px;
    height: 60px;
}

.navbar h2, .navbar ul, .navbar-list li, .navbar nav {
    display: inline-block;
}

.navbar h2 {
    margin: 0;
    line-height: 60px;
    margin-left: 55px;
}

.navbar img {
    height: 40px;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
}

.navbar nav {
    float: right;
}

.navbar ul {
    margin-top: 22px;
}

.navbar li {
    margin: 0 10px;
}

.navbar-list li a {
    text-decoration: none;
}

.navbar-list li:hover {
    border-bottom: 1px solid #FFF;
}

/* BANNER */

.main-banner {
    height: 70vh;
    background-image: url(./img/bg-projeto.jpg);
    background-size: cover;
    padding-top: 15vh;
}

.banner-info {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #FFF;
    padding: 50px;
}

.banner-info img {
    height: 120px;
    border-radius: 50%;
    background-color: #ED1E24;
    margin-top: 15px;
    margin-bottom: 15px;
}

.banner-info p {
    background-color: #ED1E24;
    font-weight: bold;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

/* ABOUT */

.about-section {
    text-align: center;
    background-color: #ED1E24;
    color: #FFF;
    padding-top: 50px;
    height: 350px;
}

.about-section h2 {
    margin-bottom: 20px;
}

.about-section p {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
}







